.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

.input {
  width: 200px;
  height: 30px;
  font-size: 1rem;
  padding: 0.4em 0.8em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
}
.colorInput {
  width: 50px;
  height: 30px;
  padding: 0.4em 0.8em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
}

.button:hover {
  border-color: #646cff;
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.input:focus {
  outline: none;
  border-color: #646cff;
}

.winner-message {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.winner-message__text {
  color: #0e0d0d;
  font-size: 40px;
  text-align: center;
  animation: flicker 2s infinite linear alternate;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #ff3,
      0 0 80px #ff3,
      0 0 90px #f90,
      0 0 100px #f90,
      0 0 150px #c33;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
